.container {
  background-color: var(--color-grey-primary);
  font-family: var(font-primary);
}
.form_container label {
  font-size: 14px;
  font-weight: 300;
  display: block;
  color: white;
  margin-top: 20px;
}
.form_container input {
  width: 100%;
  padding: 8px 10px !important;
  margin-top: 5px;
  border-radius: 2px;
}
.checkbox {
  width: 20px !important;
}
.form_container small {
  font-weight: 300;
}
.order_detail_container {
    border-radius: 4px;
    border: 1px solid #e4e7e9;
    margin-top: 70px;
}
.product_img_container {
  width: 100px;
  height: 80px;
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
}
.productImg_container {
  width: 100%;
  object-fit: contain;
}
.product_title {
  font-weight: 300;
}
.product_price {
  font-size: 14px;
  font-weight: 300;
}
.product_price span {
  color: var(--color-blue-primary);
}
.content_container {
  color: white;
  margin-top: 20px;
}
.content_container div {
  font-size: 14px;
  font-weight: 300;
}
.content_container div:nth-child(2) {
  font-weight: 400;
}
.content_container2 span, .cash_delivery {
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
  padding-bottom: 10px;

}

.radio_btn {
  position: relative;
  top: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.radio_btn:checked {
  border: 5px solid rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
}
.place_order_btn {
  background-color: var(--color-blue-primary);
  color: white;
  font-size: 14px;
  transition: all 0.3s;
  width: 350px;
  padding: 10px 5px !important;
  border: none;
}
.place_order_btn:hover {
  background-color: var(--color-hover-blue-primary);
}
.coupen_container input {
  min-width: 350px;
  max-width: 200px;
  padding: 7px 15px !important;
  background-color: transparent;
  /* border: 2px solid white; */
  border-radius: 4px;
  border: 1px solid #e4e7e9;
  color: white;
  
}
.coupen_container button {
  background-color: var(--color-blue-primary);
  color: white;
  font-size: 14px;
  padding: 10px 30px !important;
  border: none;
  transition: all 0.3s;
}

.coupen_container button:hover {
  background-color: var(--color-hover-blue-primary);
}




@media (max-width: 1399.98px) { 
  .coupen_container input {
    min-width: 300px;
    max-width: 200px;
    padding: 7px 15px !important;
    background-color: transparent;
    
  }
  .coupen_container button {
    font-size: 14px;
    padding: 10px 20px !important;
  }
  
}

@media (max-width: 1199.98px) { 
  .coupen_container input {
    min-width: 250px;
    max-width: 200px;
    padding: 7px 15px !important;
    background-color: transparent;
    
  }
  .coupen_container button {
    font-size: 12px;
    padding: 10px 10px !important;
  }
}

@media (max-width: 991.98px) {  }

@media (max-width: 767.98px) { }

@media (max-width: 575.98px) { 
  .product_img_container {
    width: 70px;
    height: 60px;
  }
  .product_title {
    font-weight: 300;
    font-size: 14px;
  }
  .coupen_container input {
    min-width: 80%;
    max-width: 200px;
    padding: 7px 15px !important;
    background-color: transparent;
    
  }
  .content_container2 img{
    width: 100px;
  }
  .content_container div {
    font-size: 12px;
    font-weight: 300;
  }
  .coupen_container button {
    font-size: 12px;
    padding: 10px 10px !important;
  }
  .place_order_btn{
    width: 100% !important;
  }
}
@media (max-width: 398.98px) {
  .coupen_container input {
    min-width: 100%;
    max-width: 140px;
    padding: 6px 15px !important;
    background-color: transparent;
    
  }
  .coupen_container button {
    font-size: 10px;
    padding: 11px 10px !important;
  }
 }
